
.flex-box {
  display: flex;
  justify-content: center;
}

nav a {
  padding: 30px;
  color: white;
  font-weight: bold;
}
nav {
  display: flex;
  justify-content: flex-end;
}
#banner{
  background-color:#3B3B3B !important;
  height: 80px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-color: black;
}

body {
  align-items: center;
  flex-flow: wrap;
  background: url("../images/background-image.jpg");
  color:#aaa;
  font-family: Lobster, sans-serif;
  font-size: 14px;
  margin: 0 auto;
  padding: 0;
  /*text-align: center;*/
}
main header{
  width: 87%;
}
h2,h3{
  color:#A9A9A9;
  font-weight:800px;
  text-align:center;
  text-transform:uppercase;
}
.skills {
  float: left;
  margin: 8%;
  font-size: 2em;

}
.intro-text p {
  float: left;
  max-width: 50%;
  margin: 45px 5px 25px 85px;
}
/*.intro-text .skills {
  font-size: 2em;
}*/
.intro-text img {
  float: right;
  max-width:100%;
  height:auto;
  width: 250px;
  margin:45px 25px;
  border-radius: 50%;
}
footer {
  text-align: center;
  margin: 68px;

}
#footer-below {
  text-align: center;
}
.btn-contact{
  color: black;
  background: purple;
  border:solid 2px purple;
  border-radius:30%;
  display:inline-block;
  width:44px;
  height:40px;
  text-align:center;
  font-size:12px;
  line-height:38px;
}

.btn-contact:hover{
  border:solid 2px red;
  color: blue;
}

/*contact form style*/

#contactForm {
  display: block;


}
