.github {
  color: #222;
}
.gitlogo {
  color: #FFFFFF;
}
body {
  overflow-x: hidden;
  font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
}

html, body {
    height:100%;
    width: 100%;
}
.name {
    font-size: 2.5em;
    color:  #FFFFFF;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
@media (min-width: 769px) {
    .name {
        font-size: 3em;
    }
}
/*parallex*/
.background {
    position: relative;
    width: 100%;
    min-height: auto;
    opacity: 1;
    background-image: url(../images/me.jpg);
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
}
@media (min-width: 769px) {
    .background img {
        width: 100%;
    }
}

.fullscreen,
.content-a {
    width: 100%;
    min-height: 100%;
}
.fullscreen.not-overflow,
.fullscreen.not-overflow .content-a {
    height: 100%;
    overflow: hidden;
}
.content-a {
    display: table;
}
.content-b {
    font-size: 200%;
    display: table-cell;
    position: relative;
    vertical-align: middle;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 3px 2px 1px #777;
}

/*parallex*/
p {
  font-size: 16px;
  line-height: 1.75;
  font-family: Garamond, Georgia, serif;
}
.text-muted {
  color: #777;
}

.text-primary {
  color: #222;
}

a,a:hover,a:focus,a:active,a.active {
  outline: 0;
  color: #FFFFFF ;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 500;
  color: #444;
}

.navbar-default {
border-color: transparent;
background-color: #222;
}

.navbar-default .navbar-brand {
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
color: #FFFFFF;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
color: #bbbbbb ;
}
.navbar-default .navbar-collapse {
  border-color: #FFFFFF;
}

.navbar-default .navbar-toggle {
  border-color: #FFFFFF;
  background-color: #bbbbbb ;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #FFFFFF;
}

.navbar-default .nav li a {
  text-transform: uppercase;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  color:#FFFFFF;
}
.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
  outline: 0;
  color: #bbbbbb ;
  text-decoration: none;
}

.navbar-default .navbar-nav>.active>a {
  border-radius: 0;
  color: #FFFFFF;
  background-color: #bbbbbb ;
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
  color: #FFFFFF;
  background-color: #bbbbbb ;
}
@media(min-width:768px) {
  .navbar-default {
    padding: 25px 0;
    border: 0;
    background-color: transparent;
    -webkit-transition: padding .3s;
    -moz-transition: padding .3s;
    transition: padding .3s;
  }

  .navbar-default .navbar-brand {
    font-size: 1.5em;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
  }

  .navbar-default .navbar-nav>.active>a {
    border-radius: 3px;
  }

  .navbar-default.navbar-shrink {
    padding: 10px 0;
    background-color:#222;
  }
  .navbar-default.navbar-shrink .navbar-brand {
    font-size: 1.5em;
  }
}
header {
  padding-top: 200px;
  padding-bottom: 50px;
  position: relative;
  text-align: center;
}

@media(min-width:768px) {
  header {
    height: 600px;
  }
  header {
    padding-top: 250px;
    padding-bottom: 200px;
    text-align: center;
    margin-bottom: 50px;
    text-transform:  full-width;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 500;
    opacity: .8;
  }
}
section {
  padding: 100px 0;
  background: #FFFFFF;

}
section h2.section-heading {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 40px;
}
section h3.section-subheading {
  margin-bottom: 75px;
  text-transform: none;
  font-family: Garamond, Georgia, serif;
  font-size: 18px;
  font-weight: 400;
}

@media(min-width:768px) {
  section {
    padding: 150px 0;
  }
}
#portfolio {
  background: #DFDFDF;

}
#portfolio .portfolio-item {
  right: 0;
  margin: 0 0 15px;
}

#portfolio .portfolio-item .portfolio-link {
  display: block;
  position: relative;
  margin: 0 auto;
  max-width: 400px;

}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: rgba(19, 27, 25, .7);
  -webkit-transition: all ease .5s;
  -moz-transition: all ease .5s;
  transition: all ease .5s;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
  opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 20px;
  margin-top: -12px;
  text-align: center;
  font-size: 20px;
  color: #FFFFFF;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
  margin: 0;
}
#portfolio .portfolio-item .portfolio-caption {
  margin: 0 auto;
  padding: 25px;
  max-width: 400px;
  text-align:center;
  background-color: #FFFFFF;
}

#portfolio .portfolio-item .portfolio-caption h4 {
  margin: 0;
  text-transform: none;
}
#portfolio .portfolio-item .portfolio-caption p {
  margin: 0;
  text-align: left;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-style: normal;
}
#portfolio * {
  z-index: 2;
}

@media(min-width:767px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px;
  }
}
.portfolio-modal .modal-content {
    padding: 100px 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.portfolio-modal .modal-content p.item-intro {
    margin: 20px 0 30px;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-style: italic;
}

.portfolio-modal .modal-content ul.list-inline {
    margin-top: 0;
    margin-bottom: 30px;
}
.img-responsive {
  margin: 0 auto;
  height: 200px;
  width: 360px;
}*/
.portfolio-modal .modal-content img {
    margin-bottom: 30px;
}



::-moz-selection {
    text-shadow: none;
    background:FF0000;
}

::selection {
    text-shadow: none;
    background:FF0000;
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}
#jsony {
  background: whitesmoke;
  width: 100%;
  height: 60%;
  color: #222;
}
.json {
  display: inline-block;
  text-align:left;
  font-size: 1.2em;
}
.jsonClass {
  color: #FF0000 ;
  margin-left: 20px;
}
@media(min-width:768px) {
  json {
    height: 600px;
  }
}
body {
    webkit-tap-highlight-color:FF0000;
}

section#contact {
  background: #FFFFFF;

}
.text-center-contact p{
  margin: 30px 200px 40px;
}
.contactImage {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin: 16px;
}

ul.social-buttons li a {
    display: block;
    font-size: 14px;
    line-height: 40px;
    outline: 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}
.fa-twitter-square { color: #55acee; }
.fa-linkedin-square { color: #0976b4; }
.fa-instagram { color: #3f729b; }
.fa-github-square {color:purple;}


hr.star-bright, hr.star-dark{
  padding:0;
  max-width:512px;
  border:0;
  border-top:solid 5px;
  text-align:center;
}
@media(min-width:1023px){
  header hr.star-bright, header hr.star-dark{
    text-align:center;
  }
}

hr.star-bright:after, hr.star-dark:after{
  content:'\f121';
  font-family:FontAwesome;
  display:inline-block;
  position:relative;
  top:-.8em;
  padding: 0.1.2em;
  font-size: 2em;
}
hr.star-bright{
  border-color:#ccc;
  opacity: 1;
}
hr.star-bright:after{
  color:#FFFFFF;
  background-color:#bbbbbb ;
}
hr.star-dark{
  border-color:#222;
}
hr.star-dark:after{
  color:#bbbbbb ;
  background-color: #222;
}

hr.star-{
  &bright, &dark {
    margin: 40px auto 30px;
    padding: 0;
    max-width: 512px;
    border: 0;
    border-top: solid 5px;
    text-align:center;
    header & {
      @media(min-width:1023px){
        margin-right:0;
        text-align:right;
        &:after {
          right:-10px;
        }
      }
    }
    &:after {
      content: '\f121';
      font-family: FontAwesome;
      display: inline-block;
      position: relative;
      top: -.8em;
      padding: 0 .25em;
      font-size: 2em;
    }
  }
  &bright {
    border-color: #FFFFFF;
    &:after {
      color: #FFFFFF;
      background-color: #aaa;
    }
  }
  &dark {
    border-color: #FFFFFF;
    &:after {
      color: #FFFFFF;
      background-color: #eee;
    }
  }
}
#footer {
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2);
  padding:25px 0;
  background-color:#222;
  text-align:center;
  color: #FFFFFF;
}
.fa-stack {
  position: relative;
  display: inline;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
  color:#FF0000 ;
}
