
body {
  overflow-x: hidden;
  font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: #000;
  /*background: url(https://curran.github.io/HTML5Examples/canvas/starfield/index.html);*/
  /*background: url(../images/download.png);*/
  /*background-size: cover;*/

  opacity:.8;
}
p {
  font-size: 16px;
  line-height: 1.75;
  font-family: Garamond, Georgia, serif;
}
.text-muted {
  color: #777;
}

.text-primary {
  color: #b64d2a;
}

a,a:hover,a:focus,a:active,a.active {
  outline: 0;
  color: #f6230b;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 500;
  /*font-size: 1.7em;*/
  color: #333;
}

.bg-light-gray {
  background-color: #f7f7f7;
}

.navbar-default {
border-color: transparent;
background-color: #222;
}

.navbar-default .navbar-brand {
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
color: #fdfdfd;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
color: #f6230b;
}
.navbar-default .navbar-collapse {
  border-color: #fff;
}

.navbar-default .navbar-toggle {
  border-color: #b64d2a;
  background-color: #b64d2a;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #b64d2a;
}

.navbar-default .nav li a {
  text-transform: uppercase;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  color:#fff;
}
.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
  outline: 0;
  color: #f6230b;
  text-decoration: none;
}

.navbar-default .navbar-nav>.active>a {
  border-radius: 0;
  color: #fff;
  background-color: #b64d2a;
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
  color: #fff;
  background-color: #f6230b;
}
@media(min-width:768px) {
  .navbar-default {
    padding: 25px 0;
    border: 0;
    background-color: transparent;
    -webkit-transition: padding .3s;
    -moz-transition: padding .3s;
    transition: padding .3s;
  }

  .navbar-default .navbar-brand {
    font-size: 1.5em;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
  }

  .navbar-default .navbar-nav>.active>a {
    border-radius: 5px;
  }

  .navbar-default.navbar-shrink {
    padding: 10px 0;
    background-color: #222;
  }
  .navbar-default.navbar-shrink .navbar-brand {
    font-size: 1.5em;
  }
}
header .intro-text {
  padding-top: 200px;
  padding-bottom: 50px;
  position: relative;
  text-align: center;
}

header .intro-text .intro-lead-in {
  margin-bottom: 25px;
  font-family: Garamond, Georgia, serif;
  font-size: 22px;
  font-style: normal;
  line-height: 22px;
  color: #fff;
}

header .intro-text .intro-heading {
  margin-bottom: 25px;
  text-transform: uppercase;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 30px;
  font-weight: 500;
  line-height: 50px;
  color: #222;
}
@media(min-width:768px) {
  header {
    height: 600px;
  }

  header .intro-text {
    padding-top: 250px;
    padding-bottom: 200px;
    text-align: center;
  }

  header .intro-text .intro-lead-in {
    margin-bottom: 25px;
    font-family: Garamond, Georgia, serif;
    font-size: 40px;
    font-style: normal;
    text-align: center;
    line-height: 40px;
  }

  header .intro-text .intro-heading {
    margin-bottom: 50px;
    text-transform:  full-width;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 40px;
    font-weight: 500;
    line-height: 75px;
    opacity: .8;
  }
}
section {
  padding: 200px 0;
}
section h2.section-heading {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 40px;
}
section h3.section-subheading {
  margin-bottom: 75px;
  text-transform: none;
  font-family: Garamond, Georgia, serif;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
}

@media(min-width:768px) {
  section {
    padding: 150px 0;
  }
}

#portfolio .portfolio-item {
  right: 0;
  margin: 0 0 15px;
}

#portfolio .portfolio-item .portfolio-link {
  display: block;
  position: relative;
  margin: 0 auto;
  max-width: 400px;

}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: rgba(109, 227, 205, .7);
  -webkit-transition: all ease .5s;
  -moz-transition: all ease .5s;
  transition: all ease .5s;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
  opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 20px;
  margin-top: -12px;
  text-align: center;
  font-size: 20px;
  color: #fff;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
  margin: 0;
}
#portfolio .portfolio-item .portfolio-caption {
  margin: 0 auto;
  padding: 25px;
  max-width: 400px;
  text-align: center;
  background-color: #fff;
}

#portfolio .portfolio-item .portfolio-caption h4 {
  margin: 0;
  text-transform: none;
}
#portfolio .portfolio-item .portfolio-caption p {
  margin: 0;
  text-align: center;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-style: italic;
}
#portfolio * {
  z-index: 2;
}

@media(min-width:767px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px;
  }
}
section#contact {
  background-color: #FDFDFD;
  background-position: center;

}
.text-center-contact p{
  /*font-size:1.4em;*/
  margin: 30px 200px 40px;
}
.contactImage {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin: 16px;
}
.list-inline {
  text-align: center;
}

ul.social-buttons li a {
    display: block;
    width: 44px;
    height: 44px;
    border-radius: 20%;
    font-size: 14px;
    line-height: 40px;
    outline: 0;
    color: #f6230b;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}
ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
    background-color:#fff;
}
.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
    outline: 0;
}


hr.star-bright, hr.star-dark{
  padding:0;
  max-width:512px;
  border:0;
  border-top:solid 5px;
  text-align:center;
}
@media(min-width:1023px){
  header hr.star-bright, header hr.star-dark{
    text-align:center;
  }
}

hr.star-bright:after, hr.star-dark:after{
  content:'\f121';
  font-family:FontAwesome;
  display:inline-block;
  position:relative;
  top:-.8em;
  padding: 0.1.2em;
  font-size: 2em;
}
hr.star-bright{
  border-color:#ccc;
  opacity: 1;
}
hr.star-bright:after{
  color:#fff;
  background-color:#f6230b;
}
hr.star-dark{
  border-color:#222;
}
hr.star-dark:after{
  color:#f6230b;
  background-color: #222;
}

hr.star-{
  &bright, &dark {
    margin: 40px auto 30px;
    padding: 0;
    max-width: 512px;
    border: 0;
    border-top: solid 5px;
    text-align:center;
    header & {
      @media(min-width:1023px){
        margin-right:0;
        text-align:right;
        &:after {
          right:-10px;
        }
      }
    }
    &:after {
      content: '\f121';
      font-family: FontAwesome;
      display: inline-block;
      position: relative;
      top: -.8em;
      padding: 0 .25em;
      font-size: 2em;
    }
  }
  &bright {
    border-color: #fff;
    &:after {
      color: #fff;
      background-color: #aaa;
    }
  }
  &dark {
    border-color: #fff;
    &:after {
      color: #fff;
      background-color: #eee;
    }
  }
}
#footer {
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2);
  padding:25px 0;
  background-color:#000;
  text-align:center;
  color: #fdf;
}
.fa-stack {
  position: relative;
  display: inline;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
  color:#f6230b;
}
